.header-container {
    width: 100%;
	height: 50px;
    background-color: #028dff00;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-menu {
    flex: 1;
    text-align: center;
}

.menu-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.menu-list li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
}

.menu-list li a:hover {
    color: #007bff;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.signin-btn {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.signin-btn:hover {
    background-color: #fefefe;
}
